force-app/main/default/flows/Create_Position_or_Candidate_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>candidate</name>
        <choiceText>candidate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>candidate</stringValue>
        </value>
    </choices>
    <choices>
        <name>nontechnical</name>
        <choiceText>nontechnical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>nontechnical</stringValue>
        </value>
    </choices>
    <choices>
        <name>position</name>
        <choiceText>position</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>position</stringValue>
        </value>
    </choices>
    <choices>
        <name>technical</name>
        <choiceText>technical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>technical</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_an_Object</name>
        <label>Check an Object</label>
        <locationX>666</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPosition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Object</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>position</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type</targetReference>
            </connector>
            <label>isPosition</label>
        </rules>
        <rules>
            <name>isCandidate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Object</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>candidate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Candidate_Info</targetReference>
            </connector>
            <label>isCandidate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isTechnical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>technical</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type</targetReference>
            </connector>
            <label>isTechnical</label>
        </rules>
        <rules>
            <name>isNonTechnical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>nontechnical</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type1</targetReference>
            </connector>
            <label>isNonTechnical</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>positionStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Position__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Position or Candidate(Flow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Position or Candidate(Flow)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Candidate_Record</name>
        <label>Create Candidate Record</label>
        <locationX>754</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>candidateId</assignRecordIdToReference>
        <connector>
            <targetReference>Success_Message_of_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Position_Record</name>
        <label>Create Position Record</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignRecordIdToReference>positionId</assignRecordIdToReference>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Position_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <object>Position__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Position_Records</name>
        <label>Create Position Records</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignRecordIdToReference>positionId</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Success_Message1</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Position_Name1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status1</elementReference>
            </value>
        </inputAssignments>
        <object>Position__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Position_Info1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical_Position</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type1</name>
        <label>Get Record Type1</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Position_Info2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non_Technical_Position</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Candidate_Info</name>
        <label>Candidate Info</label>
        <locationX>754</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Candidate_Record</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Success_Message1</name>
        <label>Copy 1 of Success Message1</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_confirmmessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(12, 231, 19);&quot;&gt;Congratulations...!!!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(12, 231, 19);&quot;&gt;Position (Non-Technical) Records has been Created Successfully..!!!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!positionId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click her to redirect to record&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Object_Selection</name>
        <label>Object Selection</label>
        <locationX>666</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_an_Object</targetReference>
        </connector>
        <fields>
            <name>Select_Object</name>
            <choiceReferences>position</choiceReferences>
            <choiceReferences>candidate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Object</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Position_Info1</name>
        <label>Position Info1</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Position_Record</targetReference>
        </connector>
        <fields>
            <name>Position_Name</name>
            <dataType>String</dataType>
            <fieldText>Position Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>positionStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Position_Info2</name>
        <label>Position Info2</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Position_Records</targetReference>
        </connector>
        <fields>
            <name>Position_Name1</name>
            <dataType>String</dataType>
            <fieldText>Position Name1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status1</name>
            <choiceReferences>positionStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status1</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Select_Record_Type</name>
            <choiceReferences>technical</choiceReferences>
            <choiceReferences>nontechnical</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Record Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>confirmmessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(12, 231, 19);&quot;&gt;Congratulations...!!!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(12, 231, 19);&quot;&gt;Position (Technical) Records has been Created Successfully..!!!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!positionId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click her to redirect to record&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message_of_Record</name>
        <label>Success Message of Record</label>
        <locationX>754</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_confirmmessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(12, 231, 19); font-size: 14px;&quot;&gt;Congratulations...!!!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(12, 231, 19); font-size: 14px;&quot;&gt;Candidate Records has been Created Successfully..!!!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!candidateId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click her to redirect to record&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Object_Selection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>candidateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>positionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
